mixin carousel-image(src, alt)
  .carousel-item.text-center
    img.img-fluid(src=src alt=alt)

mixin col-gallery(src, value, alt)
  .col
    a.logoHover-image(href='#' data-bs-toggle='modal' data-bs-target='#exampleLightbox' title="Abrir foto")
      img.img-fluid(data-bs-target='#lightbox' data-bs-slide-to=value src=src alt=alt)
.container
  .row
    .col-12
      .titles
        h2.c-white Projetos 
          span Galeria
  .row.row-cols-1.row-cols-md-2.row-cols-lg-3.g-4.gallery-grid
    +col-gallery('src/assets/galeria/1.webp', '1', 'Poda de árvores')
    +col-gallery('src/assets/galeria/2.webp', '2', 'Trabalhador paisagista sorrindo')
    +col-gallery('src/assets/galeria/3.webp', '3', 'Poda de árvores')
    +col-gallery('src/assets/galeria/4.webp', '4', 'Cuidando do jardim')
    +col-gallery('src/assets/galeria/5.webp', '5', 'Paisagista aterrando e feliz')
    +col-gallery('src/assets/galeria/6.webp', '6', 'Trabalhador paisaagista sorrindo')
    +col-gallery('src/assets/galeria/7.webp', '7', 'Poda de árvores')
    +col-gallery('src/assets/galeria/8.webp', '8', 'Cuidando do jardim')
    +col-gallery('src/assets/galeria/9.webp', '9', 'Paisagismo')

  .row
    .col-12 
      .mt-4.text-center
        a.btn.btn-outline-danger(href="https://www.instagram.com/triangularpaisagismo" title="Veja mais no instagram" target="_blank") 
          span.fa-brands.fa-instagram
          |  Veja mais no instagram

#exampleLightbox.modal.fade(tabindex='-1' aria-labelledby='exampleLightboxLabel' aria-hidden='true')
  .modal-dialog.modal-xl.modal-dialog-centered
    .modal-content
      .modal-header
        h5#exampleLightboxLabel.modal-title Triangular Galeria
        button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
      .modal-body
        #lightbox.carousel.slide
          .carousel-inner.bg-dark
            .carousel-item.text-center.active
              img.img-fluid.mh-100(src='src/assets/galeria/1.webp' alt="Poda de árvores")
            +carousel-image('src/assets/galeria/2.webp', 'Trabalhador paisagista sorrindo')
            +carousel-image('src/assets/galeria/3.webp', 'Poda de árvores')
            +carousel-image('src/assets/galeria/4.webp', 'Cuidando do jardim')
            +carousel-image('src/assets/galeria/5.webp', 'Paisagista aterrando e feliz')
            +carousel-image('src/assets/galeria/6.webp', 'Trabalhador paisaagista sorrindo')
            +carousel-image('src/assets/galeria/7.webp', 'Poda de árvores')
            +carousel-image('src/assets/galeria/8.webp', 'Cuidando do jardim')
            +carousel-image('src/assets/galeria/9.webp', 'Paisagismo')
          button.carousel-control-prev(type='button' data-bs-target='#lightbox' data-bs-slide='prev')
            span.carousel-control-prev-icon(aria-hidden='true')
            span.visually-hidden Previous
          button.carousel-control-next(type='button' data-bs-target='#lightbox' data-bs-slide='next')
            span.carousel-control-next-icon(aria-hidden='true')
            span.visually-hidden Next